@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    line-height: 1;
    font-family: 'Pretendard-Regular';
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.inner {
    max-width: 430px;
    width: calc(100% - 30px);
    margin: 0 auto;
}
.header {
    background-color: #E50012;
    padding: 62px 0 15px;
}
.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner ul {
    display: flex;
}
.header .inner ul li {
    margin-left: 12px;
    padding: 0 3px;
    width: 28px;
    img {width: 100%;}
}

/* .main_visual */
.main_visual {
    width: 100%;
    text-align: center;
    position: relative;
}
.main_visual figure {
    width: 100%;
    height: 250px;
    img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
.main_visual p {
    position: absolute;
    bottom: 30px;
    left: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    line-height: 1.3;
}

/* s00 */
.s00 {
    margin: 30px 0 24px;
}
.s00 .inner .search_title {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.s00 .inner .search_title h2 {
    font-size: 22px;
}
.s00 .inner .search_title ul {
    display: flex;
    border: 1px solid #cacaca;
    border-radius: 10px;
}
.s00 .inner .search_title ul li {
    padding: 5px 10px;
}
.s00 .inner .search_title ul li.on {
    padding: 5px 10px;
    border: 1px solid #cacaca;
    border-radius: 10px;
    background-color: #cacaca;
}

.s00 .inner .search_bar {
    display: flex;
    position: relative;
}
.s00 .inner .search_bar .local {
    padding: 5px 0;
    border-radius: 15px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);

}
.s00 .inner .search_bar .local li {
    display: none;
}
.s00 .inner .search_bar .local li.on {
    display: block;
    position: relative;
}
.s00 .inner .search_bar .local li.on::after {
    content: '';
    background: url('../img/icon_down-ccc.png');
    position: absolute;
    width: 9px;
}
.s00 .inner .search_bar input[type=text] {
    width: 100%;
    border-radius: 15px;
    height: 35px;
    padding-left: 70px;
}


/* section01 */
.s01 {margin: 0 auto;}
.s01 .inner .list {
    display: flex;
    margin-bottom: 15px;
    figure {
        height: 100px;
        margin-left: 7px;
        border-radius: 5px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.s01 .inner .list figure {
    position: relative;
}
.s01 .inner .list figure .span {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}
.s01 .inner .list figure .span01 {
    bottom: 5px;
    right: 10px;

}
.s01 .inner .list figure .span02 {
    top: 5px;
    left: 10px;
}
.s01 .inner .list figure .span_big {
    font-size: 22px;
}


.s01 .inner .list figure:first-child {
    margin-left: 0;
}
.s01 .inner .s01-1 figure:first-child {
    width: 69%;
    margin-right: 7px;
}
.s01 .inner .s01-1 figure:last-child {
    width: 33%;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    background-color: #FFE973;

}

.s01 .inner .s01-2 figure {
    width: 33%;
    
}

.s01 .inner .s01-3 figure:first-child {
    width: 33%;    
    font-weight: bold;
    padding-left: 10px;
    line-height: 180px;
    background-color: #FFCD93;
    position: relative;
}

.s01 .inner .s01-3 figure:first-child::before {
    content: '';
    background: url('../img/메뉴더보기아이콘.png');
    width: 65px;
    height: 58px;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -40%);
}
.s01 .inner .s01-3 figure:last-child {
    width: 69%;
    margin-left: 7px;
}

/* .s02 */
.s02 h2 {
    display: flex;
    margin-top: 60px;
    margin-bottom: 13px;
    font-size: 22px;
    font-weight: bold;
    p {
        margin-left: 5px;
        color: #808080;}
}
.s02 .inner > figure {
    width: 100%;
    height: 180px;
    img {
        width: 100%;
        height: 100%;
    }
}
.s02 .box .box_title {
    display: flex;
    justify-content: space-between;
    margin: 8px 6px;
    color: #808080;
}
.s02 .box .box_title span:first-child {
    font-weight: bold;
}
.s02 .box .box_title span:last-child {
    padding-right: 18px;
    font-size: 14px;
    position: relative;
}
.s02 .box .box_title span:last-child::after {
    content: '';
    background: url(../img/sub_go.png) center / cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    margin-left: 3px;
}
.s02 .box .item_wrap {
    display: flex;
}
.s02 .box .item_wrap .item {
    width: 40%;
}
.s02 .box .banner {
    display: block;
    margin-top: 30px;
    width: 100%;
    position: relative;
    figure{
        width: 100%;
        height: 60px;
        border-radius: 5px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.s02 .box .banner div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-weight: bold;
    display: flex;
    p {color: #808080;}
}

/* .s03 */
.s03 {
    margin-top: 64px;
}
.s03 .title h2 {
    margin-bottom: 5px;
    font-size: 22px;
}
.s03 .title h3 {
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    color: #808080;
}
.s03 .title p {
    margin-right: 15px;
    text-align: end;
    font-size: 12px;
    color: #808080;
    padding-bottom: 3px;
    position: relative;
}
.s03 .title p::after {
    content: '';
    background: url(../img/sub_go.png) center / cover;
    position: absolute;
    width: 13px;
    height: 13px;
    margin-left: 3px;
}
.s03 .item {
    width: 100%;
}
.s03 .item figure {
    width: 100%;
    height: 234px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.s03 .item .text_box {
    margin-bottom: 52px;
}
.s03 .item .text_box strong {
    padding: 6px 0 12px;
    display: block;
}
.s03 .item .text_box p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}
.s03 .item .text_box span P{
    color: #4D4D4D;
    font-size: 14px;
}

/* footer */
.footer .footer_menu {
    padding: 4px 20px;
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #808080;
    border-bottom: 0.5px solid #808080;
}
.footer .footer_menu li {
    padding: 5px 12px;
    color: #808080;
    display: block;
}
.footer .footer_info .footer_btn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 19px;
}
.footer .footer_info .footer_btn .sns {
    display: flex;
    li {
        margin-left: 10px;
    }
}
.footer .footer_info .footer_text p {
    padding-bottom: 13px;
    position: relative;
}
.footer .footer_info .footer_text p::after {
    content: '';
    background: url('../img/down_8080.png') center /cover;
    width: 10px;
    height: 8px;
    position: absolute;
    top: 3px;
    margin-left: 2px;

}
.footer .footer_info .footer_text .footer_text_inner {
    display: flex;
    flex-wrap: wrap;
    display: none;
}
.footer .footer_info .footer_text .footer_text_inner.on {
    display: block;
}
.footer .footer_info .footer_text .footer_text_inner span {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
.footer .footer_info .footer_call ul {
    display: flex;
    justify-content: space-between;
    padding: 28px 10px 34px;
}
.footer .footer_info .footer_call ul li {
    display: flex;
}
.footer .footer_info .footer_call ul li .call_img {
    width: 45px;
    align-items: center;
    margin-right: 5px;
    img {
        width: 100%;
    }
}
.footer .footer_info .footer_call ul li div {
    font-size: 14px;
    strong, span {
        display: block;
        margin: 2px 0;
    }
}
.footer .footer_info .footer_mark {
    display: flex;
    justify-content: end;
    padding: 10px;
}
.footer .footer_info .footer_mark figure {
    padding: 5px;

}

/* .nav_bar */
.nav_bar {
    position: sticky;
    bottom: 0;
}
.nav_bar .inner {
    background-color: #C6C6C6;
}
.nav_bar .inner ul {
    padding: 18px 10px 35px;
    display: flex; 
    justify-content: space-between;
    
}
.nav_bar .inner ul li {
    width: 40px;
    position: relative;
    img {
        width: 40px;
    }
}
.nav_bar .inner ul .home {
    width: 55px;
    img {
        width: 55px;
    }
} 
.nav_bar .inner ul li span {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: -8px;
    font-size: 14px;
    font-weight: bold;
}