@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    line-height: 1;
    font-family: 'Pretendard-Regular';
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.inner {
    max-width: 430px;
    width: calc(100% - 30px);
    margin: 0 auto;
}